[Desktop Entry]
Type=Application
Name=TypeShadow
Comment=Typing trainer with RTL/LTR support
Icon=com.hossam.typeshadow
Exec=run.sh
Terminal=false
Categories=Education;Utility;
StartupNotify=true
